<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>API Endpoints</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/search_bar.css">
</head>
<body onload="render_endpoint_input()">
    <div class="header">
        <div>
            <h1>API Endpoints</h1>
        </div>
        <a href="/view"><img class="logo" src="/static/weidmueller_logo.svg" alt="Logo"></a>
    </div>
    
    <div class="searchbar-container" ondrop="handleFileDrop(event)" ondragover="allowFileDrop(event)">
        <form id="search-form" action="/search">
            <label for="endpoint"></label>
            <div class="endpoint-title"><p>Endpoint</p></div>
            <select aria-label="Select the endpoint" name="endpoint" id="endpoint" required onchange="render_endpoint_input()">
                {% for endpoint in endpoints %}
                    <option value="{{ endpoint.base_url }}">{{ endpoint.base_url }}</option>
                {% endfor %}
            </select>
            {% for endpoint in endpoints %}
                <div class="endpoint-parameter" id="params_{{ endpoint.base_url | replace('/', '_') }}">
                    {% set outer_index = loop.index %}
                    {% for param in endpoint.params %}
                        <label for="{{ param.name }}"></label>
                        <input disabled type="search" inputmode="{{ param.html_input_type }}" id="{{ param.name ~ outer_index }}" name="{{ param.name }}" placeholder="{{ param.label }}" value="{{ param.default }}">
                    {% endfor %}
                    {% if endpoint.base_url == '/products_by_list_of_products/' %}
                    <label for="with_specs"></label>
                        <select disabled aria-label="¿Con especificaciones?" name="with_specs" id="with_specs">
                            <option value="True">Sí</option>
                            <option value="False">No</option>
                        </select>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="search-button" type="button" onclick="searchEndpoint('{{ token }}')">Buscar</button>
        </form>
    </div>

    <div class="file_configurator" id="column-selection-container" >

        <h3 onclick="toggleSearchBarResults('column-selection-container')">Selecciona una columna para la búsqueda</h3>
        <select id="column-select" aria-label="Selecciona una columna" onchange="displayColumnValues()">
            <!-- Las opciones de columna se añadirán aquí dinámicamente -->
        </select>
        <textarea aria-label="Valores de la columna" id="column-values" class="json-container" readonly></textarea>
        <button id="submit-column" type="button" style="display:none;" onclick="submitColumn('{{ token }}')">Enviar</button>
        <textarea aria-label="Resultado" id="result_from_file" class="json-container" readonly></textarea>
    </div>

    <div class="result-container" id="result-container">
        <h3 onclick="toggleSearchBarResults('result-container')">Los Resultado de tu Búsqueda</h3>
        <textarea aria-label="Resultado" id="result" class="json-container" readonly></textarea>
    </div>

    <div class="table_div">
        <table>
            <tr>
                <th>Endpoint</th>
                <th>Descripción</th>
                <th>Parámetros</th>
                <th class="implth">Ejemplo de Implementación</th>
                <th class="implth">Ejemplo de uso</th>
            </tr>
            {% for endpoint in endpoints %}
            <tr>
                <td>{{ endpoint.base_url }}</td>
                <td>{{ endpoint.description }}</td>
                <td class="parametro">{{ endpoint.params_description }}</td>
                {% if endpoint.url != "/categories" and endpoint.url != "/specs_by_item_id/2674530000" and endpoint.url != '/products_by_list_of_products/?list_=["0101700000","0103300000","0105100000","0105260000","0105620000","0105920000","0106020000","0107160000","0107260000","0110060000","0110080000"]' %}
                    <td class="impl"><a href="/view{{ endpoint.url }}">Ver ejemplo</a></td>
                {% else %}
                    <td class="impl">-</td>
                {% endif %}
                <td class="impl"><a href="#" onclick="ejecutarEndpoint('{{ endpoint.url }}', 'container_{{ loop.index }}', 'toggleBtn_{{ loop.index }}', 'tr_{{ loop.index }}', '{{ token }}')"> Ver ejecución. </a></td>
            </tr>
            <tr class="hidden-row" id="tr_{{ loop.index }}">
                <td colspan="5">
                    <button id="toggleBtn_{{ loop.index }}" class="toggle-btn" onclick="toggleJSON('tr_{{ loop.index }}', 'toggleBtn_{{ loop.index }}')">
                    <label for="container_{{ loop.index }}">Ocultar</label></button>
                    <p><strong>Consulta:</strong> {{ endpoint.url }} <br> <strong>Resultado:</strong></p>
                    <textarea readonly name="code" id="container_{{ loop.index }}" class="json-container" rows="10"></textarea>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
    <script src="/static/js/searchbar.js"></script>
    <script src="/static/js/common.js"></script>
    <script>
        var endpoints = {{ endpoints | tojson }};
        var dataCache = [];

        function render_endpoint_input() {
            var select = document.getElementById('endpoint');
            var selected_endpoint = select.options[select.selectedIndex].value;
            
            // Ocultar todos los parámetros
            endpoints.forEach(endpoint => {
                var params_container = document.getElementById('params_' + endpoint.base_url.replace(/\//g, '_'));
                params_container.style.display = 'none';
                try {
                    var selects = params_container.getElementsByTagName('select');
                    for (var i = 0; i < selects.length; i++) {
                        selects[i].disabled = true;
                    }
                    var inputs = params_container.getElementsByTagName('input');
                    for (var i = 0; i < inputs.length; i++) {
                        inputs[i].disabled = true;
                    }
                } catch(e) {
                    // nothing
                }
            });

            // Mostrar los parámetros del endpoint seleccionado
            var active_params_container = document.getElementById('params_' + selected_endpoint.replace(/\//g, '_'));
            if (active_params_container) {
                active_params_container.style.display = 'inline-flex';
                try {
                    var selects = active_params_container.getElementsByTagName('select');
                    for (var i = 0; i < selects.length; i++) {
                        selects[i].disabled = false;
                    }
                } catch(e) {
                    // nothing
                }
                var inputs = active_params_container.getElementsByTagName('input');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].disabled = false;
                }
            }
        }

        function toggleSearchBarResults(container_id){
            var container = document.getElementById(container_id);
            if (container.style.height==='auto') {
                container.style.height = '30px';
            } else {
                container.style.height = 'auto';
            }
        }
    </script>
</body>
</html>
