<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Lista de Productos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/style.css">

        </style>
    </head>
    <body>
        <div class="header">
            <div>
                <h1>Lista de Productos</h1>
            </div>
            <a href="/view"><img class="logo" src="/static/weidmueller_logo.svg" alt="Logo"></a>
        </div>
        <div class="product-list">
            <div class="content-module">
                <h2>Productos filtrados por:</h2>
                <div>
                    <strong>Categoría raíz:</strong>  {{root_category}} <br>
                    <strong>Categoría Principal:</strong> {{main_category}} <br>
                    <strong>Sub-Categorías:</strong> {{category}} <br>
                </div>
            </div>
        
            <ul>
                {% for type, products_list in products.items() %}
                <li>
                    <p>{{ type }}</p>
                    {% for product in products_list %}
                    <div class="product">
                        <img src="{{ product.img }}" alt="{{ product.name }}">
                        <div class="product-info">
                            <div class="list-product-name">Nombre del producto: {{ product.name }}</div>
                            <div class="product-description">Descripción del producto: {{ product.itm_description }}</div>
                            <div class="product-categories">Categorías: {{ product.path }}</div>
                            <div class="product-link">
                                <a href="{{ product.datasheet_link }}">Datasheet</a>
                            </div>
                            <div class="product-package">Número de elementos por paquete: {{ product.itms_val_in_pkg }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>